body {
    background-color: rgb(199, 205, 248);
}
.main {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
  }
  
.grid-container > div {
    display:flex;
    border: 1px solid blue;
    align-items: center;
    justify-content: center;
}

.box{
    background-color: rgb(199, 205, 248);
    transition: background-color 0.8s;
}
.box:hover {
    background-color: rgb(144, 153, 233);
    transition: background-color 0.5s;
}